<section class="gallery">
    <div class="container">
        <figure>
            <img src="./assets/images/space1.jpg" alt="Space 1">

            <figcaption>
                <div>
                    <span class="title">My space</span>
                    <span class="planet">
                        <i class="fa-solid fa-earth-africa"></i>
                    </span>
                </div>
            </figcaption>
        </figure>

        <figure>
            <img src="./assets/images/space2.jpg" alt="Space 2">

            <figcaption>
                <div>
                    <span class="title">My space</span>
                    <span class="planet">
                        <i class="fa-solid fa-earth-africa"></i>
                    </span>
                </div>
            </figcaption>
        </figure>

        <figure>
            <img src="./assets/images/space3.jpg" alt="Space 3">

            <figcaption>
                <div>
                    <span class="title">My space</span>
                    <span class="planet">
                        <i class="fa-solid fa-earth-africa"></i>
                    </span>
                </div>
            </figcaption>
        </figure>

        <figure>
            <img src="./assets/images/space4.jpg" alt="Space 4">

            <figcaption>
                <div>
                    <span class="title">My space</span>
                    <span class="planet">
                        <i class="fa-solid fa-earth-africa"></i>
                    </span>
                </div>
            </figcaption>
        </figure>

        <figure>
            <img src="./assets/images/space5.jpg" alt="Space 5">

            <figcaption>
                <div>
                    <span class="title">My space</span>
                    <span class="planet">
                        <i class="fa-solid fa-earth-africa"></i>
                    </span>
                </div>
            </figcaption>
        </figure>

        <figure>
            <img src="./assets/images/space6.jpg" alt="Space 6">

            <figcaption>
                <div>
                    <span class="title">My space</span>
                    <span class="planet">
                        <i class="fa-solid fa-earth-africa"></i>
                    </span>
                </div>
            </figcaption>
        </figure>
    </div>
</section>